      <!--revolution slider -->
      <section id="rs-slider-elements" class="dark-color custom-neko-skin">
        <div class="tp-banner-container">
          <div class="tp-banner" >
            <ul>
              <!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="5" data-masterspeed="1000"  >
                <!-- MAIN IMAGE -->
                <img src="../images/coffee1.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                <div class="tp-caption sfb"
                data-x="left"
                data-y="center"
                data-hoffset="20"
                data-voffset="0"
                data-speed="1000"
                data-start="250"
                data-easing="Back.easeInOut"
                data-endspeed="300"
                style="z-index: 6">
                <h1 class="x-large text-light">Regal Puffin Coffee</h1>
              </div>

              <!-- LAYER NR. 1 -->
              <div class="tp-caption sfl"
              data-x="left"
              data-y="center"
              data-hoffset="20" 
              data-voffset="60"
              data-speed="700"
              data-start="500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption sfr slider-btn-wrapper"
              data-x="left"
              data-y="center"
              data-hoffset="20" 
              data-voffset="130"
              data-speed="1000"
              data-start="1000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6"><a href="http://igg.me/at/regalpuffincoffee" class="btn default"><h3>Check out our<br> Indiegogo Campaign</h3></a>
              </div>
              </li>
              <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="../images/coffee2.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb"
                data-x="right"
                data-y="center"
                data-hoffset="-20"
                data-voffset="0"
                data-speed="1000"
                data-start="500"
                data-easing="Back.easeInOut"
                data-endspeed="300"
                style="z-index: 6">
                <h1 class="x-large text-light">Opening 2016</h1>
              </div>

              <!-- LAYER NR. 1 -->
              <div class="tp-caption sfl"
              data-x="left"
              data-y="center"
              data-hoffset="20" 
              data-voffset="60"
              data-speed="700"
              data-start="1200"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption sfr slider-btn-wrapper"
              data-x="right"
              data-y="center"
              data-hoffset="-20" 
              data-voffset="130"
              data-speed="1000"
              data-start="1500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6"><a href="" ng-click="linkTo('/#about-us')" class="btn default">Read more</a>
              </div>
              </li>

              <!-- SLIDE 3 -->
              <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="images/beans-in-mug.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">


                <!-- LAYERS -->
                <div class="tp-caption sfb"
                data-x="center"
                data-y="center"
                data-hoffset="20"
                data-voffset="0"
                data-speed="1000"
                data-start="500"
                data-easing="Back.easeInOut"
                data-endspeed="300"
                style="z-index: 6">
                <h1 class="x-large text-light">Coming to Brooklyn</h1>
              </div>

              <!-- LAYER NR. 1 -->
              <div class="tp-caption sfl"
              data-x="left"
              data-y="center"
              data-hoffset="20" 
              data-voffset="60"
              data-speed="700"
              data-start="1200"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption sfr slider-btn-wrapper"
              data-x="center"
              data-y="center"
              data-hoffset="20" 
              data-voffset="130"
              data-speed="1000"
              data-start="1500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6"><a href="" ng-click="linkTo('/#about-us')" class="btn default">Read more</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

<!-- / revolution slider -->







<!-- quote -->
<div id="about-us"></div>
      <section class="pt-medium pb-medium light-color" ng-controller="MainCtrl">
        <div class="col-md-12 text-center heading">
          <br>
          <h1><span>Meet</span>Regal Puffin</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-sm">
              <div class="tabs-minimal">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="col-md-4" style="text-align:center" ng-repeat="tab in tabs" ng-class="{active: isActiveTab(tab.template)}" ng-click="onClickTab(tab)"><a href="">{{tab.title}}</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade active in" ng-bind-html="currentTab">                  
                </div>                 
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
<!-- <section class="pb-medium pt-medium">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading">
        <h1><span>Meet</span>Regal Puffin</h1>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-10 col-md-offset-1">

        <div class="row">
          <div class="col-md-12 center-text">
            <h2>Bringing Quality Coffee to Bedford</h2>
            <p class="lead center-text">
              With a focus on hospitality
            </p>
          </div>
          <div class="col-md-12 center-text">
            <p class="center-text">
              Regal Puffin will be a neighborhood specialty coffee roaster and espresso cafe built for the fast paced commercial and residential mix of Bedford, Brooklyn. We’ll select choice, high quality, specialty green coffee beans to be artfully roasted, packaged, and sold from our storefront and to wholesale buyers. We will brew our coffee using intentional, cutting edge brew techniques to boast our beans’ distinctive character. Guests will be treated to a complimentary chocolate “crown” with each cup, and may also enjoy an assortment of homemade croissants, fresh squeezed juices, and curated selection of Brooklyn-made goods. 
            </p>
          </div>
        </div>

      </div>
    </div>
    < row -->
<!--   </div>
</section> --> 

<!-- / quote -->

<!-- Call to action -->
<section class="main-color"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="cta-box cta-box-2cols pb-medium pt-medium">
          <div class="cta-box-text" data-nekoanim="fadeInUp" data-nekodelay="200">
            <h1>
              Regal Puffin
            </h1>
            <p>
              is bringing great coffee your way.
            </p>

          </div>
          <div class="cta-box-btn" data-nekoanim="fadeInDown" data-nekodelay="200">
            <a class="btn primary large" title="" href="#/get-involved">
              <i class="icon-down-open-big"></i>get involved
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- / Call to action -->

</div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- neko custom script -->

        <script src="scripts/neko-framework/external-plugins/modernizr/modernizr.custom.js"></script>
        <script type="text/javascript" src="scripts/neko-framework/js/jquery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="scripts/neko-framework/js/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

<!-- external framework plugins -->
        <script type="application/javascript" src="scripts/neko-framework/external-plugins/external-plugins.min.js"></script>
<!-- neko framework script -->
        <script type="text/javascript" src="scripts/neko-framework/js/neko-framework.js"></script>

        <script type="text/javascript" src="scripts/js-plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="scripts/js-plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
        <script src="scripts/custom.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>