<body class="activate-appear-animation header-7 pre-header-on">
	<!-- global-wrapper -->
	<div id="global-wrapper">
		<!-- header -->
		<header class="menu-header navbar-fixed-top" role="banner">
			<section id="pre-header" class="dark-main-color shop-pre-header">
				<div class="container">
					<div class="row">
						<div class="col-xs-8">
							<ul class="quick-menu">
								<li><a href="#" class="linkLeft">My account</a></li>
								<li><a href="#">My wishlist</a></li>
								<li><a href="#">Customer care</a></li>
								<li><a href="#">Sign up</a></li>
							</ul>					
						</div>
						<div class="col-xs-4 text-right">

							<a href="#" class="btn default cart"><i class="icon-glyph-13"></i> <span class="hidden-xs">Shopping</span> cart</a>
							<div class="shopping-cart-view animated-fast">
								<table>
									<thead>
										<tr>
											<th class="hidden-xs"></th>
											<th>Product</th>
											<th>Quantity</th>
											<th>Price</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>

										<tr>
											<td class="hidden-xs"><img src="images/shop/cart-product-1.jpg" alt="edena"></td>
											<td>French coat</td>
											<td>2</td>
											<td>$44</td>
											<td>$88</td>
										</tr>
										<tr>
											<td class="hidden-xs"><img src="images/shop/cart-product-2.jpg" alt="edena"></td>
											<td>Silk dress</td>
											<td>1</td>
											<td>$259</td>
											<td>$259</td>
										</tr>
										<tr class="shopping-cart-total">
											<td colspan="5">
												<strong class="text-uppercase">Total: $357</strong>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="btn-group">
									<a href="#" class="btn primary small">View cart</a>
									<a href="#" class="btn default small">Check out</a>
								</div>



							</div>
						</div>
					</div>
				</div>
			</section>

		</header>
		<!-- / header -->

		<!-- content -->
		<main id="content">

			<header class="page-header image-background image-16 no-padding">
				<div class="mask opacity-2">

					<div class="container v-align-center">
						<div class="row">
							<div class="col-md-12 text-light pt pb">
								<br>
								<h1 class="large block">Browse our products</h1>
								<p class="lead block">
									Coming soon.
								</p>

							</div>
						</div>
					</div>
				</div>
			</header>


			<!-- portfolio -->
			<section class="pt pb-medium rollover effect-zoe">
				<div class="container">
					<div class="row">
						<!-- sidebar -->
						<aside class="col-md-2 mb-sm">
						</aside>
						<!-- / sidebar -->

						<div class="col-md-9">
							<div class="row">
								<!-- item -->
								<div class="col-sm-6 col-md-4">
									<article class="mb shop-product">

										<figure>
											<img src="images/rococohouseblend.png" alt="EDENA premium website template" class="responsive">
											<figcaption>
												<div class="rollover-content">

													<p class="icon-links btn-group responsive">

<!-- 														<a href="shop-item.html" title="product">
															<span class="icon-glyph-16"></span>view
														</a> -->
<!-- 														<a href="#" title="cart">
															<span class="icon-glyph-13"></span> Add to cart
														</a> -->
													</p>
												</div>
											</figcaption>
										</figure>

										<div class="pt-small">
											<h2><span>Whole Bean Coffee</span>
												<span class="text-main-color large">Rococo House Blend</span>
											</h2>
										</div>

									</article>
								</div>
								<!-- / item -->
								<!-- item -->
								<div class="col-sm-6 col-md-4 col-md-offset-2">
									<article class="mb shop-product">

										<figure>
											<img src="images/quantumbloom.png" alt="EDENA premium website template" class="responsive">
											<figcaption>
												<div class="rollover-content">

													<p class="icon-links btn-group responsive">

<!-- 														<a href="shop-item.html" title="product">
															<span class="icon-glyph-16"></span>view
														</a> -->
<!-- 														<a href="#" title="cart">
															<span class="icon-glyph-13"></span> Add to cart
														</a> -->
													</p>
												</div>
											</figcaption>
										</figure>

										<div class="pt-small">
											<h2><span>Whole Bean Coffee</span>
												<span class="text-main-color large">Quantum Bloom</span>
											</h2>
										</div>

									</article>
								</div>
								<!-- / item -->
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- portfolio -->
		</main>
	</body>