			<header class="page-header x-large image-background image-9 bottom-center dark-color center no-padding">
				<div class="mask opacity-2">

					<div class="container v-align-center">
						<div class="row">
							<div class="col-md-12">
								<h1 class="x-large">Contact us</h1>
							</div>
						</div>
					</div>

				</div>
			</header>

			<!-- intro -->
			<section class="pt-medium pb-medium light-color">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<h2>Keep in touch with us</h2>
							<p class="no-mb">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. 
						</p>
						</div>
						<div class="col-sm-4">
							<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						</div>
						<div class="col-sm-4">
							<h2>Address:</h2>
							<address>
								<p>
									144 Edena Main Street<br>
									Washington, DC 20500 <br>
									412.666.7485 <br>
									<a href="mailto:contact@template.com">contact@template.com</a>
								</p>
							</address>
						</div>
					</div>
				</div>
			</section>
			<!-- / intro -->

			<!-- contact form -->
			<section class="pt-medium pb-medium">
				<div class="container">
					<div class="row">

						<form method="post" action="neko-framework/external-plugins/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form" class="form-minimal">
							<div class="col-md-3 col-sm-6"> 
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" class="form-control" name="name" id="name" placeholder="Enter name"  title="Please enter your name (at least 2 characters)"/>
									<div class="form-line"></div>
								</div>

								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address"/>
									<div class="form-line"></div>
								</div>

								<div class="form-group">
									<label for="phone">Phone</label>
									<input name="phone" class="form-control required digits" type="tel" id="phone" size="30" value="" placeholder="Enter email phone" title="Please enter a valid phone number (at least 10 characters)">
									<div class="form-line"></div>
								</div>

							</div>
							<div class="col-md-3 col-sm-6">
								<div class="form-group">
									<label for="comments">Comments</label>
									<textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
									<div class="form-line"></div>
								</div>

								<fieldset class="clearfix securityCheck">
									<h3>Security</h3>

									<div class="form-group">
										<label for="verify">		
											<img src="neko-framework/external-plugins/neko-contact-ajax-plugin/php/image.php" alt="Image verification"/>
										</label>
										<input class="required form-control"  id="verify" name="verify" type="text" placeholder="Enter the captcha…">
										<div class="form-line"></div>
									</div>
									
								</fieldset>
								<button name="submit" type="submit" class="btn large primary" id="submit"> Submit</button>
								<div class="result"></div>
							</div>
						</form>
						<div class="col-md-6 col-sm-12">
							<div class="box">
								<div id="map-wrapper" class="small light"></div>
							</div>
						</div>                       
						
						
					</div>
				</div>
				
			</section>
			<!-- / contact form -->
		</main>
		<!-- / content -->

		<!-- footer -->
		<footer id="main-footer">
			<div class="container">
				<div class="row">

					<div class="col-sm-6">
						<div class="footer-widget">
							<img src="images/neko-logo.png" alt="latest Little Neko news" id="footerLogo" class="mb-small">
							<p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practises and up-to-date web technologies to create great user experiences. We love what we do and we hope you do! </p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="footer-widget">

							<h3>Little NEKO</h3>
							<address>
								<p>
									144 Edena Main Street<br>
									Washington, DC 20500 <br>
									412.666.7485 <br>
									<a href="mailto:contact@template.com">contact@template.com</a>
								</p>
							</address>
						</div>
					</div>
