      <!--revolution slider -->
      <section id="rs-slider-elements" class="dark-color custom-neko-skin">
        <div class="tp-banner-container">
          <div class="tp-banner" >
            <ul>
              <!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  >
                <!-- MAIN IMAGE -->
                <img src="../images/coffee2.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">


                
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
<!--                 <div class="tp-caption fade fadeout"
                data-x="center"
                data-hoffset="0"
                data-voffset="0"
                data-y="bottom"
                data-speed="1000"
                data-start="500"
                data-end="6000"
                data-easing="Back.easeInOut"
                data-endspeed="500"
                style="z-index: 6">
                <img src="images/Splash.png" alt="" />
              </div> -->

              <!-- LAYER NR. 2 -->

<!--               <div class="tp-caption lfb"
              data-x="center"
              data-hoffset="0"
              data-voffset="0"
              data-y="bottom"
              data-speed="600"
              data-start="1300"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              style="z-index: 5"
              >
              <img src="images/slider/rs/rs-elements/1-sun-rays.png" alt="" />
            </div>

             LAYER NR. 3 -->
       <!--        <div class="tp-caption sfb"
              data-x="center"
              data-y="center"
              data-hoffset="-250" 
              data-voffset="250"
              data-speed="700"
              data-start="1500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6"><img src="images/slider/rs/rs-elements/1-stars-1.png" alt="" />
            </div>

            <div class="tp-caption sfr"
            data-x="center"
            data-y="center"
            data-hoffset="250" 
            data-voffset="0"
            data-speed="700"
            data-start="1700"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6"><img src="images/slider/rs/rs-elements/1-stars-2.png" alt="" />
          </div>

          <div class="tp-caption sft"
          data-x="center"
          data-y="bottom"
          data-hoffset="150" 
          data-voffset="-50"
          data-speed="700"
          data-start="1900"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="off"
          style="z-index: 6"><img src="images/slider/rs/rs-elements/1-stars-3.png" alt="" />
        </div>

        <div class="tp-caption sft"
        data-x="left"
        data-y="center"
        data-hoffset="0" 
        data-voffset="0"
        data-speed="700"
        data-start="2000"
        data-easing="Power4.easeOut"
        data-endspeed="300"
        data-endeasing="Power1.easeIn"
        data-captionhidden="off"
        style="z-index: 6"><img src="images/slider/rs/rs-elements/1-edena-exagon.png" alt="" />
      </div>

      <div class="tp-caption sfb"
      data-x="right"
      data-y="center"
      data-hoffset="0" 
      data-voffset="-50"
      data-speed="700"
      data-start="2100"
      data-easing="Power4.easeOut"
      data-endspeed="300"
      data-endeasing="Power1.easeIn"
      data-captionhidden="off"
      style="z-index: 6"><img src="images/slider/rs/rs-elements/1-made.png" alt="" />
    </div>

    <div class="tp-caption sfb"
    data-x="right"
    data-y="center"
    data-hoffset="0" 
    data-voffset="50"
    data-speed="700"
    data-start="1800"
    data-easing="Power4.easeOut"
    data-endspeed="300"
    data-endeasing="Power1.easeIn"
    data-captionhidden="off"
    style="z-index: 6"><img src="images/slider/rs/rs-elements/1-love.png" alt="" />
  </div>


  <div class="tp-caption sfb"
  data-x="right"
  data-y="center"
  data-hoffset="0" 
  data-voffset="150"
  data-speed="700"
  data-start="1800"
  data-easing="Power4.easeOut"
  data-endspeed="300"
  data-endeasing="Power1.easeIn"
  data-captionhidden="off"
  style="z-index: 6"><img src="images/slider/rs/rs-elements/1-little-neko.png" alt="" />
  </div>
  </li> -->

<!-- SLIDE  -->
<li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
  <!-- MAIN IMAGE -->
  <img src="../images/coffee1.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">


  <!-- LAYERS -->
<!--   <div class="tp-caption sfb fullscreenvideo"
  data-autoplay="true"
  data-forceCover="1"
  data-nextslideatend="true"  
  data-aspectratio="16:9"
  data-forcerewind="on"
  data-volume ="mute"
  >
  <video class="video-js vjs-default-skin" preload="none" loop  controls
  poster="images/coffee1.jpg">
<source src="video/explore.mp4" type='video/mp4' />
  <source src="video/explore.webm" type='video/webm' />
  <source src="video/explore.ogg" type='video/ogg' />
</video>
</div> -->

<!-- LAYER NR. 1 -->
<div class="tp-caption sfl "
data-x="right"
data-y="center"
data-hoffset="-20" 
data-voffset="0"
data-speed="700"
data-start="1200"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6"><h1 class="x-large text-light">Regal Puffin</h1>
</div>

<!-- LAYER NR. 2 -->
<!-- <div class="tp-caption sfl "
data-x="right"
data-y="center"
data-hoffset="-20" 
data-voffset="60"
data-speed="700"
data-start="1200"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6"><h2 class="text-light"></h2>
</div> -->

<!-- LAYER NR. 3 -->
<div class="tp-caption sfr slider-btn-wrapper"
data-x="right"
data-y="center"
data-hoffset="-20" 
data-voffset="130"
data-speed="1000"
data-start="1500"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6"><a class="btn default">Read more</a>
</div>
</li>

<!-- SLIDE 3 -->
<li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
  <!-- MAIN IMAGE -->
  <img src="images/beans-in-mug.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">


  <!-- LAYERS -->
  <div class="tp-caption sfb"
  data-x="left"
  data-y="center"
  data-hoffset="20"
  data-voffset="0"
  data-speed="1000"
  data-start="500"
  data-easing="Back.easeInOut"
  data-endspeed="300"
  style="z-index: 6">
  <h1 class="x-large text-light">Opening Spring 2016</h1>
</div>

<!-- LAYER NR. 1 -->
<div class="tp-caption sfl"
data-x="left"
data-y="center"
data-hoffset="20" 
data-voffset="60"
data-speed="700"
data-start="1200"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6">
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption sfr slider-btn-wrapper"
data-x="left"
data-y="center"
data-hoffset="20" 
data-voffset="130"
data-speed="1000"
data-start="1500"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6"><a href="#" class="btn default">Read more</a>
</div>
</li>
</ul>
</div>
</div>
</section>

<!-- / revolution slider -->







<!-- quote -->
<section class="pb-medium pt-medium">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading">
        <h1><span>Meet</span>Regal Puffin</h1>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-10 col-md-offset-1">

        <div class="row">
          <div class="col-md-12 center-text">
            <h2>Bringing Quality Coffee to Bedford</h2>
            <p class="lead center-text">
              With a focus on hospitality
            </p>
          </div>
          <div class="col-md-12 center-text">
            <p class="center-text">
              Regal Puffin will be a neighborhood specialty coffee roaster and espresso cafe built for the fast paced commercial and residential mix of Bedford, Brooklyn. We’ll select choice, high quality, specialty green coffee beans to be artfully roasted, packaged, and sold. We will brew our coffee using intentional, cutting edge brew techniques to boast our beans’ distinctive character. Guests will receive a complimentary chocolate “crown” with each cup. Guests can also enjoy an assortment of in-store made croissants, fresh squeezed juices, and curated selection of Brooklyn-made goods. 
            </p>
          </div>
        </div>

      </div>
    </div><!-- row -->
  </div>
</section>
<!-- / quote -->

<section class="pt-medium pb-medium light-color">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center heading">
        <h1><span>We are awesome</span>Meet our team</h1>
      </div>
    </div>


    <div class="row mb-medium clearfix rollover effect-sarah">
      <div class="col-sm-6 col-md-4" data-nekoanim="fadeIn" data-nekodelay="100">
        <article class="text-center">
          <figure class="dark-color">
            <img src="images/team/team-corporate-1.jpg" alt="image" class="responsive">
            <figcaption>
              <div class="rollover-content">

                <div class="description light-text">

                  <h2>
                    The question
                  </h2>

                  <p>
                    The question I ask myself like almost every day is, ‘Am I doing the most important thing I could be doing?
                  </p>

                  <ul class="social-icons main-color circle">
                    <li>
                      <a href="#" class="rss " title="rss"><i class="icon-glyph-342"></i></a>
                    </li>
                    <li>
                      <a href="#" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a>
                    </li>
                    <li>
                      <a href="#" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a>
                    </li>
                    <li>
                      <a href="#" class="gplus" title="gplus"><i class="icon-glyph-317"></i></a>
                    </li>
                  </ul>

                </div>
              </div>
            </figcaption>

          </figure>
          <div class="pt-small">
            <h2><small>Martin</small><br />
              Somerville<br>
              <small class="text-main-color"><strong>C.E.0</strong></small>
            </h2>
          </div>
        </article>
      </div>

      <div class="col-sm-6 col-md-4" data-nekoanim="fadeIn" data-nekodelay="200">
        <article class="text-center">
          <figure class="dark-color">
            <img src="images/team/team-corporate-2.jpg" alt="image" class="responsive">
            <figcaption>
              <div class="rollover-content">
                <div class="description light-text">
                  <h2>High expectations</h2>
                  <p>
                    High expectations are the key to absolutely everything.
                  </p>
                  <ul class="social-icons main-color circle">
                    <li>
                      <a href="#" class="rss " title="rss"><i class="icon-glyph-342"></i></a>
                    </li>
                    <li>
                      <a href="#" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              
            </figcaption>
          </figure>
          <div class="pt-small">
            <h2><small>Leona</small><br />
              Fibonacci<br>
              <small class="text-main-color"><strong>Sales</strong></small>
            </h2>
          </div>
        </article>  
      </div>

      <div class="col-sm-6 col-md-4" data-nekoanim="fadeIn" data-nekodelay="300">
        <article class="text-center">
          <figure class="dark-color">
            <img src="images/team/team-corporate-3.jpg" alt="image" class="responsive">
            <figcaption>
              <div class="rollover-content">
                <div class="description light-text">
                  <h2>
                    Passion
                  </h2>
                  <p>
                    Without passion, you don’t have any energy, and without energy, you simply have nothing
                  </p>

                  <ul class="social-icons main-color circle">
                    <li>
                      <a href="#" class="rss " title="rss"><i class="icon-glyph-342"></i></a>
                    </li>
                    <li>
                      <a href="#" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a>
                    </li>
                    <li>
                      <a href="#" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a>
                    </li>
                    <li>
                      <a href="#" class="gplus" title="gplus"><i class="icon-glyph-317"></i></a>
                    </li>
                  </ul>

                </div>
              </div>

            </figcaption>

          </figure>

          <div class="pt-small">
            <h2><small>Maria</small><br />
              Mitchell<br>
              <small class="text-main-color"><strong>Graphic designer</strong></small>
            </h2>
          </div>
        </article>  
      </div>


    </div><!-- row -->
    <div class="row">
      <div class="col-sm-6 mb-sm" data-nekoanim="fadeInUp" data-nekodelay="200">

        <div class="owl-carousel neko-data-owl" data-neko_items="1" data-neko_singleitem="true" data-neko_paginationnumbers="true">
          <img src="images/slider/carousel/corporate-mini-2.jpg" class="img-responsive" alt="EDENA premium website template"/>

          <img src="images/slider/carousel/corporate-mini-3.jpg" class="img-responsive" alt="EDENA premium website template"/>
          
          <img src="images/slider/carousel/corporate-mini-1.jpg" class="img-responsive" alt="EDENA premium website template"/>
        </div>

      </div>
      <div class="col-sm-6" data-nekoanim="fadeInUp" data-nekodelay="200">
        <h2 class="no-mt">Our mission</h2>
        <p class="lead">
          Consistently think across the full value chain, while our solid, multi-source, scoping technically strengthens the enabler
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. 
        </p>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>    

      </div>

    </div>
    <div class="row pt-medium" data-nekoanim="fadeIn" data-nekodelay="200">
      <div class="col-sm-6 mb-sm">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="col-sm-6">
        <h2>Our skills</h2>
        <!-- progressbar -->
        <h3>Graphic design</h3>
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
        <!-- progressbar -->
        <h3>Web design</h3>
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
            <span class="sr-only">90% Complete</span>
          </div>
        </div>
        <!-- progressbar -->
        <h3>Cooking</h3>
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
            <span class="sr-only">30% Complete</span>
          </div>
        </div>

      </div>
    </div>

  </div><!-- container -->
</section>

<!-- Call to action -->
<section class="main-color"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="cta-box cta-box-2cols pb-medium pt-medium">
          <div class="cta-box-text" data-nekoanim="fadeInUp" data-nekodelay="200">
            <h1>
              Regal Puffin
            </h1>
            <p>
              is bringing great coffee your way.
            </p>

          </div>
          <div class="cta-box-btn" data-nekoanim="fadeInDown" data-nekodelay="200">
            <a class="btn primary large" title="" href="#/get-involved" target="_blank">
              <i class="icon-down-open-big"></i>get involved
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- / Call to action -->

</div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- neko custom script -->

        <script src="scripts/neko-framework/external-plugins/modernizr/modernizr.custom.js"></script>
        <script type="text/javascript" src="scripts/neko-framework/js/jquery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="scripts/neko-framework/js/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

<!-- external framework plugins -->
        <script type="application/javascript" src="scripts/neko-framework/external-plugins/external-plugins.min.js"></script>
<!-- neko framework script -->
        <script type="text/javascript" src="scripts/neko-framework/js/neko-framework.js"></script>

        <script type="text/javascript" src="scripts/js-plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="scripts/js-plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
        <script src="scripts/custom.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>